section.catalogo-carrinho {
    border: 2px solid brown;    
    width: 150px;
    padding: 16px;
    text-align: left;
    height: max-content;
}

.catalogo-resumo-item {
    height: 20px;
    margin-bottom: 8px;
}

.catalogo-resumo-item > button {
    margin-right: 8px;
}

.catalogo-resumo-itemName {
    width: 100px;
    height: 14px;
}